<html>
  <body>
    <h1>Enter Address</h1>
    <form action="/" method="post">
      <input name="address" type="txt" placeholder="Enter Address. . ." />
      <p>
        <input type="submit" value="Send" formaction="/getweather" />
      </p>
    </form>
    {{message}}
  </body>
</html>
